* body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

main {
  max-width: 1000px;
  margin: auto;
  display: block;
}

html {
  scroll-behavior: smooth;
}

footer {
  padding-top: 80px;
  text-align: center;
  font-family: "redwing", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

/************** styling knap ****************/

.btn a {
  text-decoration: none;
  font-family: "redwing", sans-serif;
  color: white;
  padding: 10px;
  background-color: #223249;
  border: 2px solid white;
  border-radius: 20px;
  margin-left: 2rem;
}

/************** Tekst forside + splash ****************/
.splash {
  background-image: url(img//skov.JPG);
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 66vh;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: 1fr;
}

.linje_forside {
  background-color: white;
  height: 2px;
  width: 70%;
  place-self: center;
  grid-row: 7/8;
  margin-top: -12px;
}

.text_forside1 {
  text-align: center;
  font-family: "redwing", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 5vw;
  grid-row: 6/7;
  margin-top: -22px;
}

.text_forside2 {
  text-align: center;
  font-family: "redwing", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 5vw;
  grid-row: 8/9;
  text-align: center;
  margin-top: -16px;
}

.forside_tekst {
  padding-top: 7.56rem;
  font-family: "Roboto";
  margin-top: -4.75rem;
  margin-bottom: 6.6rem;
}

/************** Bokse margin og p styling ****************/
.box1 {
  margin-top: 50px;
}

.box2 {
  margin-top: 63px;
}

p {
  padding-top: 2px;
  font-family: "Roboto";
  margin-top: -4px;
  margin-bottom: 23px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.paragraf_midte p {
  padding-top: 2px;
}

.paragraf_midte h2 {
  padding-top: 2px;
}

/* ************* Hover på Billede ***************  */

.section_wrapper .box1,
.section_wrapper_2 .box2 {
  overflow: hidden;
  transition: 0.5s;
}

.section_wrapper .box1 img:hover,
.section_wrapper_2 .box2 img:hover {
  box-shadow: 0px -1px 0px 2px rgba(5, 0, 0, 0.28);
}

/************** Burgermenu ****************/

.burgerButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  z-index: 100;
}

.streg1 {
  position: absolute;
  top: 50%;
  transform: translateY(-0.5rem);
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}
.streg1.aktiv {
  transform: translateY(0) rotate(-45deg);
}

.streg2 {
  position: absolute;
  top: 50%;

  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg2.aktiv {
  opacity: 0;
}

.streg3 {
  position: absolute;
  top: 50%;
  transform: translateY(0.5rem);

  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}
.streg3.aktiv {
  transform: translateY(0) rotate(45deg);
}

/************** Navbar ****************/
.navbar {
  z-index: 10;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-evenly;
  margin: 0;
  width: 100%;
  height: 100px;

  background-color: #7c7c7c;
}

.navbar ul {
  display: flex;
  height: 100%;
  justify-content: space-evenly;

  list-style: none;
  flex-direction: column;
  margin: 35px;
}

.navbar .navbarLinks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.navbar .navbarLinks.aktiv {
  display: block;
  background-color: #7c7c7c;
}

.navbar .navbarLinks li {
  list-style: none;
}

.navbar .navbarLinks li a {
  text-decoration: none;
  color: white;
  font-family: redwing;
  font-size: 1.5rem;
}

.navbar .navbarLinks li a:hover {
  color: violet;
}
/************** logo ****************/

.navbar img {
  width: 120px;
  padding: 18px;
}

/************** Tekst styling ****************/

h1 {
  text-align: center;
  font-family: redwing;
  margin-top: 29px;
}

.h2 {
  font-family: "Roboto";
  margin-left: 2rem;
}

.h3 {
  font-family: "Roboto";
}

.linje_om_mig {
  background-color: black;
  height: 2px;
  width: 82%;
  margin-left: 2rem;
}

@font-face {
  font-family: "redwing";
  src: url("redwing/redwing-light-webfont.woff2") format("woff2");
}

/*************Desktop************** */

@media (min-width: 600px) {
  .navbar ul {
    flex-direction: row;
  }

  .burgerButton {
    display: none;
  }

  .navbar .navbarLinks {
    position: static;
    width: 100vw;
    height: auto;
    display: block;
  }

  .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
  }

  .section_wrapper_2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
  }

  .box1 {
    margin-left: 20px;
  }

  .box2 {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: 20px;
  }

  .box3 {
    margin-left: 20px;
  }

  .p_btn {
    font-family: "Roboto";
  }

  .paragraf_midte {
    padding-top: 2.5rem;
    font-family: Roboto;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 1.25rem;
  }

  .paragraf_top {
    padding-top: 25px;
    font-family: Roboto;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .paragraf_bund {
    padding-top: 25px;
    font-family: Roboto;
    grid-column: 2/3;
    margin-bottom: 1.25rem;
  }

  .container_portraet {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .forside_tekst {
    text-align: center;
  }

  /************** portræt ****************/

  .image {
    margin-top: 8rem;
    margin-left: 2rem;
  }
}
